@font-face {
  font-family: Basetica;
  src: url("Basetica-Med.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientSize {
  0% {
    background-position: 0% 100%;
  }

  25% {
    background-position: 100% 100%;
  }

  50% {
    background-position: 0% 100%;
  }

  75% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 100%;
  }
}

/*
#root {
  min-height: 100vh;
  background: radial-gradient(ellipse, rgba(207, 216, 220, 1) 50%, rgba(207, 216, 220, 0.5) 100%);
  **	background: radial-gradient(ellipse at bottom right, rgba(236,239,241,0.5) 0%, rgba(176,190,197, 1) 60%); 
  background-size: 200% 200%;
  animation: gradientSize 20s infinite;
}
*/
img.dialog {
  height: 80vh;
}

.fullheight {
  vertical-align: middle;
}

.defaultpadding {
  padding: 16px 16px 16px 16px;
}

.defaultpaddingright {
  padding-right: 16px !important;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Markdown/Showdown fixes */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}