body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
	background: linear-gradient(-45deg, #f9fbe7, #eceff1, #fbe9e7, #e0f2f1);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.fullheight {
  vertical-align: middle;
}

.defaultpadding {
  padding: 16px 16px 16px 16px;
}
.defaultpaddingright {
  padding-right: 16px !important;
}
